{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<section class="">

    <div>
        <h1>Inscription</h1>

        {{ form_start(registrationForm) }}

            <fieldset class="">

                {{ form_row(registrationForm.lastname) }}
                {{ form_row(registrationForm.firstname) }}
                {{ form_row(registrationForm.email) }}

            </fieldset>

            <fieldset class="">

                {{ form_row(registrationForm.address) }}
                {{ form_row(registrationForm.zipcode) }}
                {{ form_row(registrationForm.city) }}

            </fieldset>
            <fieldset class="">
                
                {# <input type="text" class="" autocomplete="current-password" placeholder="Mots de pass"> #}

                {{ form_row(registrationForm.plainPassword, {label: 'Mots de passe'}) }}
                <br>
                {{ form_row(registrationForm.RGPDConsent) }}
                <button type="submit" class="btn">Inscription</button>
                <a href="{{ path('app_login')}}" class="btn">Connexion</a>

            </fieldset>
            {{ form_errors(registrationForm) }}

        {{ form_end(registrationForm) }}
    </div>
</section>

{% endblock %}
